# Configurá estas variables en Netlify → Site configuration → Environment variables
# No necesitás API Key de Google, solo el ID de la hoja y el número de pestaña

SHEET_ID=1zp_K5X3Xcl4C7X-hg0UdznYofdoW1A8Q7GP7wE6bx88
SHEET_GID=0
